* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #f4f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.otp-container {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 350px;
  text-align: center;
}


.logo-section {
  margin-bottom: 25px;
}

.logo {
  width: 60px;
  margin-bottom: 10px;
}

.company-name {
  font-size: 20px;
  color: #1c3557;
  font-weight: 700;
}

.tagline {
  font-size: 13px;
  color: #555;
}

.otp-box h3 {
  color: #1c3557;
  margin-bottom: 10px;
}

.instruction {
  font-size: 13px;
  color: #555;
  margin-bottom: 20px;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.otp-inputs input {
  width: 40px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.otp-inputs input:focus {
  border-color: #2f6fbf;
}

.btn-primary {
  width: 100%;
  background: linear-gradient(90deg, #23406a, #2f6fbf);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #2f6fbf, #23406a);
}

.resend {
  margin-top: 15px;
  font-size: 13px;
  color: #555;
}

.resend a {
  color: #2f6fbf;
  text-decoration: none;
  font-weight: 600;
}

.resend a:hover {
  text-decoration: underline;
}

.back-link {
  display: block;
  margin-top: 20px;
  color: #23406a;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.back-link:hover {
  text-decoration: underline;
}

