  body{
                background-color: darkcyan;
                display:flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                flex-direction: column;
                color:#3fefff;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
         