body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f9fb;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #3ba55d;
}

.search-icons .icon {
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
}

.market-info {
    display: flex;
    gap: 10px;
}

.market-info .box {
    background: #6fe273;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
}
.market-info span {
    font-size: 11px;
    color: rgb(0, 120, 0);
}

.tabs {
    display: flex;
    border-bottom: 1px solid #bd9a9a;
    background: #ece0e0;
}

.tabs a {
    padding: 12px 20px;
    text-decoration: none;
    color: #777;
}

.tabs a.active {
    color: #0d6efd;
    border-bottom: 2px solid #0d6efd;
}

.section-title {
    margin: 15px 20px;
    font-size: 18px;
}

.stock-list {
    padding: 10px 20px;
}

.stock-item {
    background: white;
    padding: 12px 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #eee;
}

.stock-item h4 {
    margin: 0;
    font-size: 16px;
}

.price {
    margin: 5px 0;
    font-size: 18px;
}

.change.green {
    color: #0f9d0f;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
}

.bottom-nav a {
    text-decoration: none;
    color: #666;
}

.bottom-nav .active {
    color: #0d6efd;
}